* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #02050a;
  color: #ffffff;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
}

.away {
  width: 100vw;
  height: 100%;
  background: #212529;
  z-index: 11;
  position: absolute;
  top: 0;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1rem;
  display: none;
}

.top a {
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

p {
  color: #a2a2a2;
  line-height: 28px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-family: 'Lobster Two', sans-serif;
}

h5 {
  color: #55e6a5;
}

.card {
  background-color: transparent;
  border: none;
}

.newClass {
  display: block;
}

.sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #151c25;
  height: 100vh;
  z-index: 10;
  overflow: overlay;
}

.sidebar .logo {
  height: 100px;
  width: 100%;
  background: #212529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .logo .close {
  display: none;
  color: #fff;
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
}

.sidebar .logo h2 {
  font-size: 50px;
  padding-left: 2rem;
  color: #d4fff9;
  text-decoration: underline;
}

.sidebar .content {
  padding: 3rem 2rem;
}

.sidebar .content li {
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
}

.sidebar .content li a {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  color: #ffffff;
  text-transform: capitalize;
  border-radius: 8px;
  text-decoration: none;
}

.sidebar .content li a p {
  margin: 0;
}

.sidebar .content li a i {
  width: 60px;
  background: #222831;
  height: 60px;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
}

.sidebar a:hover .glow {
  background: #55e6a5;
  color: #02050a;
}

.main-section {
  margin-left: 250px;
}

.dragger {
  position: fixed;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #55e6a5;
  color: #09101a;
  top: 10px;
  left: 10px;
  z-index: 2;
}

#myself {
  background: url(..//img/banner.jpg);
  background-position: center;
  padding: 200px 0;
  text-transform: uppercase;
}

#myself h1 span {
  color: #55e6a5;
  font-weight: 800;
  -webkit-animation: size 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          animation: size 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

#myself a {
  padding: 1rem 3rem;
  background-color: #55e6a5;
  color: #02050a;
}

#myself a:hover {
  background: #212529;
  color: #ffffff;
  text-decoration: none;
}

#myself p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 60px;
  color: #a2a2a2;
}

#myself img {
  width: 100%;
  border-radius: 60px;
}

#myself .img-bord {
  position: absolute;
  top: -17px;
  left: 0;
}

#about {
  padding: 150px 0;
}

#about h5 {
  color: #55e6a5;
}

#about .box {
  margin-top: 80px;
}

#about .box p {
  margin-top: 20px;
}

#about .box80 {
  width: 80%;
  z-index: 2;
}

#about .t-ab {
  position: absolute;
  width: 50%;
  top: 150px;
  right: 0;
}

#education .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6rem;
}

#education .row .card {
  border: 3px solid #191919;
  padding: 2rem 15px;
  background: transparent;
  margin-bottom: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#education .row .card h5 {
  color: #ffffff;
}

#education .row .card h5 i {
  color: #55e6a5;
  padding-right: 20px;
}

#education .row .card h4 {
  padding: 10px 0;
}

#education .row .card a {
  padding: 1rem 3rem;
  background-color: #55e6a5;
  color: #02050a;
}

#education .row .card a:hover {
  background: #212529;
  color: #ffffff;
  text-decoration: none;
}

#skills {
  margin-bottom: 6rem;
}

#skills span {
  color: #55e6a5;
  font-weight: 800;
  padding-right: 1rem;
}

#skills .box {
  background-color: #151c25;
  padding: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

#skills .box .fill {
  width: 0%;
  height: 5px;
  background-color: #55e6a5;
  position: absolute;
  bottom: 0;
  left: 0;
}

#skills .box h4 {
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 0;
}

#project {
  padding-bottom: 6rem;
}

#project .card:hover h2 {
  opacity: 1;
}

#project img {
  width: 100%;
  height: 100%;
}

#project img:hover {
  opacity: .5;
}

#project h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  opacity: 0;
  text-decoration: underline;
  background-color: #02050a;
  color: #fff;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

#contact {
  background-color: #09101a;
  padding: 4rem 0;
}

#contact .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

#contact .box p {
  display: inline-block;
}

#contact .box a {
  color: #ffffff;
  -webkit-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}

#contact .box a i {
  padding-right: 6px;
  -webkit-transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}

#contact .box a:hover {
  color: #55e6a5;
  text-decoration: none;
}

#contact .box .icon svg {
  width: 50px;
  height: 50px;
  background: #55e6a5;
  display: inline-block;
  border-radius: 50%;
  padding: 1rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@-webkit-keyframes seize {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes seize {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media only screen and (max-width: 1196px) {
  .sidebar {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  .sidebar .logo .close {
    display: block;
  }
  .main-section {
    margin: 0;
  }
  #about .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    text-align: center;
  }
  #about .row .t-ab {
    display: none;
  }
  #about .row img {
    display: none;
  }
}

@media only screen and (max-width: 996px) {
  #myself .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    text-align: center;
  }
  #myself .row img {
    width: 50%;
  }
  #project img {
    width: 250px;
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 756px) {
  #contact .box {
    text-align: center;
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  * {
    text-align: center;
  }
  h1 {
    font-size: 2.5rem;
  }
  #about .box {
    margin-top: 40px;
  }
  #project img {
    width: 200px;
  }
  #education .row .card {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */